# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
*.userprefs

# Unity
Unity/Library/
Unity/Temp/
Unity/Obj/
Unity/Build/
Unity/Builds/
Unity/Logs/
Unity/UserSettings/
*.csproj
*.sln
*.unity

# Node (si se usa después)
node_modules/
npm-debug.log

# Blender temporales
*.blend1
*.blend2
